##### Please submit this notebook on Gradescope by Friday - 23:59 hours.

## Improve (Pythonize) these!

#### 1. Unpacking

In [1]:
a=10 
b=20 
c=30

Using one "statement" of Py, make the following value tranfers:
    - b <- a
    - c <- b
    - a <- c+10

In [2]:
# Write your code here

#### 2. Comprehensions

Using list comprehensions, create a list with **odd** numbers between  11 and 20(11 and 20 excluded).

In [3]:
# Write your code here

#### Truth values in conditionals.

In [4]:
n="10"

In [5]:
n.isnumeric()

In the cell below, imporve(Pythonize) the conditional expressions in the if statements. Is it appropriate to use two `if` statements? If not, rewrite the block of code appropriately.

In [6]:
if (n.isnumeric()==True):
    print('n is numeric!')

if(n.isnumeric()==False):
    print ('n is not numeric!')

In [7]:
# Write your code here

#### Searching in lists

The following cell contains a simple function that takes two parameters - num and lst. 
- If num is one of the elements of lst, return True. 
- Else, return False.

In [8]:
def search(num,lst):
    for i,n in enumerate(lst):
        if(n==num):
            return True
    return False

In [9]:
num = 1
lst= [1,2,3,4,5]

In [10]:
search(num, lst)

Write a one statement Py code that performs the same function as the above function.

In [11]:
### Write your code here

* more here: https://docs.python-guide.org/writing/style/
* and here: https://gist.github.com/dpallot/1aadff223f3b3efbec8e

#### 3. Pandas dtypes

In [1]:
import pandas as pd
import numpy as np

In [8]:
employees = pd.DataFrame({'id': [1111, 1112, 1113, 1114, 1115, 1116, 1117], 
                          'job_type': ['Manager','Junior', 'Senior', 'Manager', 'Junior', 'Junior', 'Senior'], 
                          'education': ['Doctoral', 'Bachelors', 'Bachelors', 'Masters', 'Masters', 'Masters', 'Doctoral'],
                          'years_exp': [10, 1, 7, 13, 0.5, 1.5, 15],
                          'salary': [1000.0, 300, 1000, 1200, 300, 400, 1300]})

In [9]:
employees.dtypes

id             int64
job_type      object
education     object
years_exp    float64
salary       float64
dtype: object

convert each column to its appropriate type (if the original type is not appropriate yet)

In [ ]:
#run employees.dtypes again here and now it should show new types

Select categorical columns and show them below